extends layout

block content
  h1= title
  h2 Welcome to #{title}
    </br>
    img(src="images/about.png")
    </br></br></br>
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate et velit id dapibus. Proin ultrices, dui in pulvinar tempor, eros ipsum lobortis justo, id rhoncus elit felis eu dolor.
    p Pellentesque sed ante nec augue pharetra finibus ut convallis risus. Sed suscipit ac nunc in pulvinar. Nullam sodales sodales placerat. Sed vehicula tellus ac massa maximus tincidunt. 
    p Nullam vel enim eget quam fermentum mattis ac vel nibh. Donec id aliquam ligula. Pellentesque arcu tellus, tincidunt sit amet feugiat at, fringilla nec orci. Quisque at dui et mi pretium vestibulum eget eu purus. 
    p Duis tristique commodo ante, in consequat nunc dignissim et.   
    </br>
    p Aenean id lobortis tortor. Suspendisse iaculis risus ac consequat lobortis. Sed convallis velit erat, et aliquet nulla accumsan vel. In vel metus est.
    p Vestibulum odio nunc, ullamcorper non tempus vitae, viverra imperdiet leo. Aliquam non faucibus magna. Fusce laoreet vehicula risus, vitae cursus felis porttitor ac.
    p Donec vulputate metus porttitor sem aliquet, quis egestas mauris fringilla. Cras ac sodales tellus, nec sollicitudin sapien. Etiam in vehicula nunc.
    </br>
    a(href="/") INDEX PAGE </br>
    a(href="/form") FORM PAGE </br>
    a(href="/about") ABOUT PAGE